{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yogalakshmi | Portfolio</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header d-flex justify-content-between align-items-center" data-aos="zoom-in">
			<div class="header-text">
				<h2>Hello!</h2>
				<h1>I'm Yogalakshmi Srinivasan</h1>
				<p>Aspiring Fullstack Developer | Passionate about Web development and AI Automation | UI Enthusiast</p>
			</div>
			<div class="header-image">
				<img src="{% static 'images/bannerimg.png'%}" alt="Profile Illustration">
			</div>
		</div>
		<div class="about">
			<h2 class="section-title" data-aos="zoom-in">About Me</h2>
			<p>{{ about.content }}</p>
		</div>
		<div class="education">
			<h2 class="section-title" data-aos="zoom-in">Education</h2>
			<div class="acard" data-aos="zoom-in">
				<h5>Batchelor of Computer Applications</h5>
				<p>Annai Vailankanni Arts and Science College</p>
				<p>Tamilnadu,India.</p>
				<p>2022-2025</p>
			</div>
		</div>
		<div class="skills">
			<h2 class="section-title">Skills</h2>
			<div class="skill-container">
				{% for group in skill_groups %}
				<div class="skill-group" data-aos="zoom-in">
					<h5>{{ group.name }}</h5>
					<ul class="skill-list">
						{% for skill in group.skills.all %}
						<li><img src="{{ skill.icon_url }}" alt="{{ skill.name }}"></li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="projects">
			<h2 class="section-title" data-aos="zoom-in">Projects</h2>
			{% for project in projects %}
			<div class="acard" data-aos="zoom-in">
				<h5><strong>{{ project.title}}</strong></h5>
				<p>{{ project.description }}</p>
				<p>{{ project.note }}</p>
				<a href="{{ project.link }}" class="link">Live Project</a>
			</div>
			{% endfor %}
		</div>
		<br>
		<div class="certifications">
			<h2 class="section-title" data-aos="zoom-in">Certifications</h2>
			<div class="acard" data-aos="zoom-in">
				<ul>
					{% for cert in certifications %}
					<li>{{ cert.title }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="contact" >
			<h2 class="section-title" data-aos="zoom-in">Contact</h2>
			<div class="acard" data-aos="zoom-in">
				<ol class="sl">
					<li><a href="{{ contact.email }}"><i class="fas fa-envelope"></i></a></li>
					<li><a href="{{ contact.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="{{ contact.github }}" target="_blank"><i class="fab fa-github"></i></a></li>
				</ol>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>
