body{
    background: linear-gradient(to right, #fff, #ffe0eb);
    font-family: 'Seoge UI', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.container{
    padding: 50px 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: auto;
    background-color: #ef88ad;
    border-radius: 10px;
    padding: 25px;
    color: #3a0519;
    flex-wrap: wrap; /* So it looks good on small screens */
}
.header-text {
    max-width: 60%;
}
.header-image img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}
.header-image img {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-image img {
        margin-top: 20px;
    }
}
.header-image img:hover {
    transform: scale(1.05);
}
.section-title{
    font-size: 28px;
    font-weight: bolder;
    border-left: 5px solid #a53860;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #3a0519;
}
.acard{
    border-left: 5px solid #a53860;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: #000;
    background-color: #ef88ad;
    border: 1px solid #3a0519;
    border-radius: 15px;
    padding: 5px;
    font-weight: 20px;
}
.link:hover {
  background-color: #3a0519;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
}
.acard:hover,
.skill-group:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.section-title, .acard, .skill-group {
  animation: fadeInUp 0.8s ease forwards;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.skill-group {
    background-color: #fff;
    border: 2px solid #ef88ad;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}
.skill-group h5{
  color: #3a0519;
  font-weight: bolder;
}
.skill-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0;
}
.skill-list li {
    transition: transform 0.3s ease;
}
.skill-list li:hover {
    transform: scale(1.1);
}
.skill-list img {
    width: 30px;
    height: 35px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease-in-out;
}
.skill-list img:hover {
    transform: rotate(8deg) scale(1.1);
}
.contact i{
  margin-right: 100px;
  color: #3a0519;
  width: 10px;
}
.sl{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: 0;
  align-items: center;
  list-style: none;
}
